doctype html
html
	head
		title time-selection
		link(rel="stylesheet", href="css/style.css")
	body
		.screen
			img(src="images/nav.png" width="375px")
			img(src="images/service.png" width="375px")
			.slider
				p today
				p tomorrow
				p today
				p tomorrow
				p today
				p tomorrow
				p today
				p tomorrow
				p today
				p tomorrow
			.bundle
				.text 
					p 8:00 AM - 11:00AM 
					p.sm 15 min Sessions
				.price
					p $30
					button(class="book") Book
					
			.bundle
				.text 
					p 11:00 AM - 1:00PM 
					p.sm 15 min Sessions
				.price
					p $30
					button(class="book") Book
			#overlay

			img(id ="picker" src="images/timepicker.png", width="375px")


		script(type='text/javascript' src='js/slideup.js').
	